
body {
  animation: fadeInAnimation ease 3s;
 

 

}
/* topbar-area */
.topbar-area
{
background-color: #f95832;
}
@media(min-width:852px) {
.navbar-nav{
  margin: 21px 108px;
}

}
@media (min-width: 1140px){
  .container  {
      max-width: 1140px;
  }
  }
@media screen and (max-width:821px){
.topbar-area{
  display: none;
}
}
@media(max-width:576px) {
      .navbar-nav ul .navbar-expand-lg{
        margin-top: -50px;
        background-color: white;
        position: fixed;
      }
     

}

/* navigation */
@media(max-width:576px){
.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  margin-top: -28px;
  padding: 10px;
  
}  
}
@media(max-width:576px) {
.navbar-nav{
  margin-top: 20px;
  
}

}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@media screen and(max-width: 576px){
.navbar-collapse {
  z-index: 9999 !important;
 
  left: 0;
  top: 71px;
  width: 100%;
  background-color: #fff;
  text-align: center !important;
}
}
@media screen and(max-width: 576px){
.navbar, .navbar-expand-lg{ 
 width: 100%;
 margin-top: -50px;
  }
}
@media screen and(max-width:576px) {
  .container,.nav-section{
background-color: white;

  }
}


a
{
  text-decoration: none;
}
a:hover
{
  text-decoration: none;
}

.navbar, .navbar-expand-lg
{
  background-color: transparent;
 

}

.main_menu {
 position: absolute;

  top: 33px;
  width: 100%;
  z-index: 999;
  
}
.main_menu .navbar-brand {
  padding: 0rem !important;
}
img {
  max-width: 100%;
}
.main_menu .navbar-toggler {  
  position: relative;
  z-index: 1;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  background-color: #f95832;
 
}
@media screen and(min-width: 992px){
.navbar-expand-lg .navbar-toggler {
  display: none;
}
}
button {
  margin: 0;
  font-family: inherit;
}
.main_menu .main-menu-item ul li .nav-link {
  color: #0c2e60;
  font-size: 15px;
 padding: 10px 15px;
  font-family: "Roboto", sans-serif;
}
.btn_1 {
  background-image: linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);
}
.main_menu .main-menu-item ul .btn_1 {
  color: #fff;
  font-size: 14px;
  padding: 11.5px 33px;
  margin-left: 41px;
}
.btn_1 {
  display: inline-block;
  padding: 13.5px 45px;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
  border: 1px solid transparent;
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
}
.navbar-light .navbar-nav .active>.nav-link {
  color: #fefefe;
  background-color: #f95832;
  padding: 10px 32px;  
}

nav {

  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;

  text-decoration: none;
  color: #aaa;
  margin: 0 10px;
}


nav.fill ul li a {
  transition: all 2s;
}

nav .fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #fff;
  z-index: 1;
 
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}
/* Keyframes */
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #f95832;
  
  }
}
nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.topbar-left ul li a {

color: #fff;
display: block;
font-weight: 500;
margin-right: 15px;
padding: 8px 0;
text-decoration: none;
font-size: 14px;
letter-spacing: 0px;
}
ul {

margin: 0;
padding: 0;
}
.topbar-left ul li {
display: inline-block;
}
.topbar-left ul li a i {
color: #fff;
font-size: 16px;
padding-right: 7px;
}
.top-social {
text-align: right;
padding: 8px 0px;
margin-left: 10px;
}
.top-social ul li a {
color: #fff;
margin-left: 12px;
display: block;
text-align: center;
font-size: 14px;
border-radius: 5px;
line-height: 25px;
}
.top-social ul li {
display: inline-block;
}
.btn_1:hover
{
color: white;
}

.button {
  border: 1px solid transparent;
  border-radius: 3px;
  width: 152px;
  display: block;
  border-radius: 50px;
  background-image: linear-gradient(to left, #ee390f 0%, #f9b700 40%, #ee390f 100%); 
  color: white;
  background-color: black;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  padding: 10px 45px;
}

.button:hover {
  background-position: left bottom;
}

/* animation background */
.about-header
{
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-image: url(img/breadcrumb.png\ \(1\).jpg);

  margin-top: 105px;
 
}
.back-img
{
position: absolute;
background-color: black;
width: 100%;
height: 400px;
opacity: 0.7;
}
.about-header h6
{


text-align: center;

font-size: 15px;
font-weight:400;
color: rgb(226, 219, 219);

}
.about-header h2
{

text-align: center;
font-size: 30px;
margin-top: 100px;
font-weight: bold;
color: white;


}

.box div
{
position: absolute;
width: 60px;
height: 60px;
border: 3px solid white;

}

.box div:nth-child(1)
{
top: 12%;
left: 42%;
animation: animate 10s linear infinite;
}
.box div:nth-child(2)
{
top: 70%;
left: 50%;
animation: animate 7s linear infinite;
}
.box div:nth-child(3)
{
top: 17%;
left: 6%;
animation: animate 9s linear infinite;
}
.box div:nth-child(4)
{
top: 20%;
left: 60%;
animation: animate 10s linear infinite;
}
.box div:nth-child(5)
{
top: 67%;
left: 10%;
animation: animate 6s linear infinite;
}
.box div:nth-child(6)
{
top: 80%;
left: 70%;
animation: animate 12s linear infinite;
}
.box div:nth-child(7)
{
top: 60%;
left: 80%;
animation: animate 15s linear infinite;
}
.box div:nth-child(8)
{
top: 32%;
left: 25%;
animation: animate 16s linear infinite;
}
.box div:nth-child(9)
{
top: 90%;
left: 25%;
animation: animate 9s linear infinite;
}
.box div:nth-child(10)
{
top: 20%;
left: 80%;
animation: animate 5s linear infinite;
}
@keyframes animate{
0%{
  transform: scale(0) translateY(0) rotate(0);
  opacity: 1;
}
100%{
  transform: scale(1.3) translateY(-90px) rotate(360deg);
  opacity: 0;
}
}
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


.container .profile-card{
	position: relative;
	height:250px;

	display: flex;
	width:100%;
	margin: 30px 0;
}
.multicolor-text h2 {
  background:linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);
  font-family: 'Playfair Display', serif;
  background-clip: text;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 35px;
    font-weight: 600;
  
  }
.container .profile-card .imgBx{
	position: absolute;
	top:0;
	left: -10px;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(#f95832, #fb9804,#fd0505); 
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}
.profile-card .content ul
{
margin: 0px 20px;
font-size: 13px;
font-weight: 500;
width: 100%;
}
.container .profile-card:hover .imgBx{
   height: 74px;
   width: 101px;
   left: -32px;
   top:calc(50% - 26%);
   	transition: 0.5s ease-in-out;
     background-image: linear-gradient(#f95832, #fb9804,#f96103); 
     font-size: 15px;
     
}
.container .profile-card .imgBx:before
{
  content: attr(data-text);
    position: absolute;
    bottom: 27px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: rgba(255,255,255,.05);
    font-weight: 700;
}
.container .profile-card .imgBx h3{
  color: white;
  font-size: 25px;
}
.container .profile-card .imgBx img{
max-width: 100px;
color: white;
font-size: 20px;
text-align: center;
transition: 0.5s ease-in-out;
}
.container .profile-card:hover .imgBx img{
max-width: 75px;
font-size: 15px;
}
.container .profile-card:hover .imgBx h3  {
      display: none;
     
  }
.container .profile-card .content .list-content
{
  font-size: 15px;
}
.container .profile-card .content{
	position: absolute;
	right: 0;
	width: calc(100% - 75px);
  background-color: #fdf6f5;
  width: 100%;
  height: 250px;
	padding: 20px;
	display: flex;
  border: 1px solid #f95832;
  margin: 1px 10px;
}
.container .profile-card .content h1{
margin-bottom: 5px;
font-size: 20px;
width: max-content;
}
.container .profile-card .content ul li
{
  color: #f95832;
 
}
.container .profile-card .content ul {
  list-style-position: outside;
}

.container .profile-card .content .readmore-btn{
  background-image: linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);
  display: inline-block;
  margin-top: 19px;
  padding: 6px 16px;
  
  text-decoration: none;
  color:#fff;
  transition: all .4s ease-in-out;
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
}


@media(max-width: 768px)
{
   	.container .profile-card{
		max-width: 300px;

	}
	.container .profile-card .imgBx{
		position: relative;
	}
	.container .profile-card .imgBx,.container .profile-card:hover .imgBx{
	    width:100%;
	    height: 200px;
	   left: 0;
	}
		.container .profile-card .imgBx,.container .profile-card:hover .imgBx img{
        max-width: 100px;}
  }
    
.wrapper
{
    position: relative;
    width: 100%;
   
    overflow: hidden;
    background-image: linear-gradient(#f95832, #fb9804,#fd0505,#f33308); 
    margin-top: 120px;
   
}
.wrapper h2
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin: 0;
}
.box div
{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 4px solid white;
}
.box div:nth-child(1)
{
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2)
{
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3)
{
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4)
{
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5)
{
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6)
{
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7)
{
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8)
{
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9)
{
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10)
{
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}
@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
.client {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  
}

.carousel-icon i {
font-size: 5rem;
color: rgba(255, 255, 255, 0.3);
}

.carousel-item i {
font-size: 1.6rem;
color: rgba(255, 255, 255, 0.3);
}

.t-card {
padding: 1.8125rem 1.125rem;
background-color: rgb(223, 96, 96);
border-radius: 1.25rem;
position: relative;


color: #fff;
height: auto;
width: 100%;  
}
.t-card p::before {    
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}
.t-card p
{


  position: relative;
  color: white;

  
}
.arrow-down {
  margin-top: 20px;

}
.wrapper .p-text
{
  font-size: 35px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;

}
.fa-chevron-left
{
  padding: 10px;
  color: #f95832;
  background-color: white;
  border: 1px solid #f95832;
  border-radius: none;

}
.fa-chevron-left:hover
{
  
  color: #ffffff !important;
  background-color: #f95832;

}
.fa-chevron-right:hover
{
  
  color: #ffffff !important;
  background-color: #f95832;
  border: 1px solid #f95832;

}
.fa-chevron-right
{
  padding: 10px;
  color: #f95832;
  background-color: white;
  border: 1px solid #f95832;
  border-radius: none;

}
.controls .push-right
{
  text-align: center;
}
.slide-container
{
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-image: linear-gradient(#f3bbaf, #eed2a9,#cc9797,#c8a39b); 

}
.image-slider
{
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .7s;
}
.slide-div

{
    display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 30px 0 30px;
}
.first
{
  position: absolute;
  width: 240px;
  height: 370px;
  transition: .5s;
  
}
.slide-div img{
    position: relative;
    width: 240px;
    height: 370px;
    transition: .5s;
}
.first:hover
{
    background-color: rgb( 0, 0, 0, .2);
}    
  .footer-section {
  font-size: 14px;
  padding: 2em 0;
  color: #000000;
  background: rgb(254, 225, 174);
  margin-top: 90px;
}
.footer-text1  h2 {
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 22px;
  font-family: 'Playfair Display', serif;
  font-weight: 600; 
 }

.footer-text1  p
{
  font-size: 14px;
  font-weight: 400;
  color: #000000;

  line-height: 2;
  font-family: "Poppins", Arial, sans-serif;
  
}
.list-unstyled {
  
  list-style: none;
 
}
.footer-social-media li {
  list-style: none;
  margin: 22px -1px 4px 15px;
  display: inline-block;
}
.footer-social-meadia ul li {
  font-size: 14px;
  margin-bottom: 0px;
}
.footer-section .footer-social-meadia li a {
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 50%;
  position: relative;
  font-size: 30px;
}
.ftco-footer .ftco-footer-widget h2 {
 
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
}
.footer-social-media li a span:hover
{
background-color: #ffffff;
  color: #f95832;
  border: 1px solid #ffffff;
}

.footer-social-media li a span {
  
  font-size: 17px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #f95832;
  margin-top: 20px;
  border-radius: 50%;
  border: 1px solid #f95832;
  padding: 8px;
  background-color: #f95832;
  color: white;
}

.footer-section .footer-text1 ul li a {
  color: #000000;
  
}
.footer-section .footer-text1 ul li a:hover
{
  text-decoration: none;
}
.block-23 ul {
  padding: 0;
}

.block-23 ul li .text {
  
  vertical-align: top;
 
  color: black;
}
.block-23 ul li .text
{
  line-height: 1.5;
}
ul li .d-block
{
border-bottom: 1px dashed black;
}
.block-23 ul li .icon {
  width: 40px;
  font-size: 18px;
 
  
}
.block-23 .text-1
{
  display: grid;
  width: 40px;
}
.block-23 .text-1 .icon
{
  margin: 0px 0px 21px -2px;
}
.text-2
{
  margin: -122px 0px 0px 29px;
}
.material-icons     
{
  margin-right: 11px;
  border-radius: 50%;
  font-size: 19px;
 
  color: #f95832;
}
.widget
{
width: 300px;
}
.footer .widget .links li {
display: block;
margin-bottom: 10px;
}
.links{
align-items: center;
}
.left-content
{
text-align: left;
font-size: 16px;
}
.right-content
{
text-align: right;

}
.right-content a
{color: black;
  font-size: 16px;
}